.pList {
  width: 100%;
  max-width: 1024px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.pListItem {
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
  flex: 1;
}

.pListImg {
  width: 100%;
  object-fit: cover;
  height: 150px;
}

.pListTitles > h1 {
  font-size: 18px;
  text-transform: capitalize;
  color: #444;
}

.pListTitles > h2 {
  font-size: 14px;
  font-weight: 300;
}
